# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Databases
*.db
*.sqlite3

# Environment variables
.env
backend/.env

# Node / IDE
node_modules/
.vscode/
.idea/
.DS_Store
*.rar
*.zip

backend/static/uploads/
